doctype html
include partials/index-header.jade
html
	body
		#container
			h1 Weblayout starter template
			p
				a(href="page.html") Link to another page
			#test Clickable div

		include partials/index-footer.jade
