doctype html
head
    title Flexbox Layout Demo
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link( href='/css/flex-layout.css', rel='stylesheet', type='text/css' )
html
    body
        //div This is a test flexbox layout page
        //.flex-container
        //    .flex-block This is a block #1
        //    .flex-block This is a block #2
        //    .flex-block This is a block #3
        //    .flex-block This is a block #4

        //div &nbsp;

        div Flexbox layout test
        .flex-row
            .flex-col-4 This is a block #1
            .flex-col-4 This is a block #2
            .flex-col-4 This is a block #3
            .flex-col-4 This is a block #4
            .flex-col-4 This is a block #5
