doctype html
html
	include partials/index-header.jade
	body
		#container
			h1 My Site
			p Welcome to my site.
			p
				a(href="page.html") Chat interface demo
			p
				a(href="flexbox-layout.html") Flexbox Layout
			#app

			include partials/index-footer.jade
