doctype html
html
	include partials/index-header.jade
	body
		#container
			h1 My Site 1
			p Welcome to my super lame site.
			p Another paragraph
			p
				a( href="page.html" ) Page
			#app

			include partials/index-footer.jade
