head
	title Gulp-test
	meta( charset='utf-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge' )
	meta( name='viewport', content='width=device-width, initial-scale=1.0' )
	script( src='/vendor/js/jquery.min.js' )
	script( src='/vendor/js/react.min.js' )
	link( href='/vendor/css/normalize.min.css', rel='stylesheet', type='text/css' )
	link( href='/styles/main.css', rel='stylesheet', type='text/css' )
	